body {
    padding: 0;
    margin: 0;
}
button {
    margin-left: 10px;
    margin-top: 15px;
}

.container {
    width: 80%;

    margin: 0 auto;
    padding: 0;
}

.console-box {
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
    height: 650px;
    background-color: #eee;
}
.main-box {
    display: inline-block;
    width: 850px;
    box-sizing: border-box;
}
.universe {
    height: 465px;
    box-sizing: border-box;
}
.control-panel {
    height: 185px;
    box-sizing: border-box;
}